---
title: 'Página Principal'
import Home from '../components/pages/Home.astro'
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Página Principal</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
        <script src="https://cdn.tailwindcss.com"></script>
      
    </head>
    <body>
        <Home />
        <header>
            <h1>Bienvenido a mi sitio web</h1>
        </header>
        <main>
            <p>Esta es la página de inicio de mi proyecto Astro.</p>
        </main>
        <footer>
            <p>&copy; 2024 Mi Sitio Web</p>
        </footer>
    </body>
</html>
