---
 import Navbar from '../organisms/Navbar.jsx';
import ReleasesSection from '../pages/Release/ReleasesSection.jsx';
import ArtistsSection from '../pages/Artist/ArtistsSection.jsx';
import DemosSection from '../organisms/DemoSection.jsx'
import ContactSection from '../organisms/ContactSection.jsx'
// import { languageStore } from '../../stores/languageStore';

const language = Astro.props.language;

---

<div id="home" class="home">
  <!-- <Navbar client:load /> -->
  
  <div class="parallax-container flex">
    <div class="parallax-content flex w-full">
      <div class="container mx-auto my-24">
        <section id="main" class="main h-full flex flex-col">
          <div class="logo-main flex items-center h-full w-full">
            <img alt="main" class="h-full mx-auto" src="/img/main.png" />
          </div>
          <div class="text-center text-white flex flex-col">
            <h1 class="title-main font-extrabold text-5xl">
              {language === 'en' ? 'HARD TECHNO IS LIFE' : 'HARD TECHNO IS LIFE'}
            </h1>
            <h2 class="text-3xl">
              {language === 'en' ? 'LABEL' : 'SELLO DISCOGRÁFICO'}
            </h2>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- <ReleasesSection client:visible /> -->
  <!-- <ArtistsSection client:visible /> -->
  
  <section id="about" class="about-section">
    <h2>{language === 'en' ? 'About Us' : 'Sobre Nosotros'}</h2>
    <p>{language === 'en' ? 'We are a hard techno label...' : 'Somos un sello de hard techno...'}</p>
  </section>

  <DemosSection client:visible />
  <ContactSection client:visible />
</div>

<script>
  // Script para manejar el scroll si es necesario
  document.addEventListener('astro:page-load', () => {
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get('scrollToDemos') === 'true') {
      const demosSection = document.getElementById('demos');
      if (demosSection) {
        demosSection.scrollIntoView({ behavior: 'smooth' });
      }
    }
  });
</script>